body {
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../images/night-starry-sky-seamless-background-small-distant-star-shines-on-dark-sky_135176-481.jpg);
}
canvas{
    width: 100%;
    height: 100%;
}