body {
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../images/sky.jpg);
}
canvas{
    background-image: url(../images/sky.jpg);
    width: 100%;
    height: 100%;
    background-image: url(../images/sky.jpg);
}
